// Paleta institucional. Sobrescribe aquí antes de tocar componentes.
$primary   : #3a4a5c
$secondary : #4a6572
$accent    : #4defe2

$dark      : #1d1d1d

$positive  : #00c853
$negative  : #d32f2f
$info      : #0288d1
$warning   : #ffa500
